[submodule "react-boilerplate"]
	path = react-boilerplate
	url = git@github.com:lsanders/react-boilerplate.git
[submodule "tut-react-and-spring-data-rest"]
	path = tut-react-and-spring-data-rest
	url = git@github.com:lsanders/tut-react-and-spring-data-rest.git
